.carousel-img-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-title {
    height: 50px;
    display: flex;
}

.category-name {
    width: 100px;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
}

.category-more-container {
    flex: auto;
    display: flex;
    justify-content: flex-end;
}

.category-more {
    width: 100px;
    font-size: 14px;
    line-height: 50px;
    text-align: center;
}

.product-container {
    height: 620px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-left {
    width: 240px;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    position: absolute;
    top: 0;
}

.card:hover {
    animation-name: card-move;
    animation-duration: .2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes card-move {
    0% {}

    100% {
        top: -5px;
        box-shadow: 3px 3px 10px #888888;
    }
}

.product-right {
    width: 1000px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.product-item {
    width: 240px;
    height: 300px;
    position: relative;

}

.product-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
}

.product-info img {
    width: 160px;
    height: 160px;
}

.product-info .title {
    font-size: 14px;
    font-weight: 400;
    color: #333;
}

.product-info .desc {
    font-size: 12px;
    color: #b0b0b0;
}

.product-info .price {
    font-size: 12px;
    color: #ff6700;
}